.store {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 3vh;
  overflow-x: hidden;
}
.store ::-webkit-scrollbar {
  display: none;
}
.store .products {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  margin: auto 0;
  padding: 6vh;
  animation: hover 5s infinite ease-in-out;
}

@keyframes hover {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
.productPage {
  position: relative;
  width: 100vw;
  height: 94vh;
  z-index: 1;
  background-color: rgba(8, 2, 2, 0.349);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
}

.productImg {
  height: 80vh;
  border-radius: 20px;
  filter: drop-shadow(0 0mm 2mm rgb(15, 10, 17));
}

.productContainer {
  width: 70vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.479);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 20px;
  margin-left: 3vw;
  margin-top: 4vh;
}

.productData {
  margin-left: 5%;
  width: 40%;
  position: relative;
}
.productData P {
  font-size: 1.7em;
}

.button {
  color: rgb(218, 218, 218);
  border-radius: 20px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.842);
  display: flex;
  flex-direction: row;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  font-size: 1.5em;
  align-items: center;
  border: solid 1px black;
  width: 40%;
  height: 5%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 0.5em;
}
.button :hover {
  cursor: pointer;
}
.button input {
  border-radius: 20px 0px 0px 20px;
  text-align: center;
  font-size: larger;
  height: 95%;
  width: 15%;
  background-color: rgb(238, 243, 241);
}

.variants {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  font-size: 2.2em;
}
.variants a {
  background-color: grey;
  border-radius: 10px;
  padding: 0px 20px;
  margin: 5px 10px;
  margin-bottom: 3vh;
}
.variants :hover {
  filter: invert(1);
}

.scroll {
  width: 100vw;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-self: baseline;
  margin-top: 4vh;
  animation: blink 5s infinite ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  .products {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    margin: auto 0;
    padding: 6vh;
    animation: hover 4s infinite ease-in-out;
    margin: 3vh 5vh 6vh 2vh;
    scale: 1;
  }
  .productPage {
    width: 95%;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 1;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    flex-direction: column;
    justify-content: center;
  }
  .productImg {
    height: -moz-fit-content;
    height: fit-content;
    width: 95vw;
    border-radius: 20px;
    filter: drop-shadow(0 0mm 2mm rgba(15, 10, 17, 0));
    z-index: 10;
    scale: 1;
  }
  .productContainer {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: center;
    padding-bottom: 20px;
    background-image: linear-gradient(to top, rgb(247, 15, 15), rgba(0, 0, 0, 0));
  }
  .productData {
    text-align: center;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 228, 196, 0.404);
    border-radius: 0 0px 20px 20px;
    margin-top: -1vh;
    width: 100%;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    gap: 0;
  }
  .productData P {
    font-size: 1em;
    margin: 10px;
  }
  .button {
    color: rgb(218, 218, 218);
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.842);
    display: flex;
    flex-direction: row;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    font-size: 0.5em;
    align-items: center;
    border: solid 1px black;
    margin: 10px;
    text-align: center;
    width: 50vw;
    height: 7vh;
  }
  .button :hover {
    cursor: pointer;
  }
  .button input {
    border-radius: 20px 0px 0px 20px;
    text-align: center;
    font-size: larger;
    height: 95%;
    width: 15%;
    background-color: rgb(238, 243, 241);
  }
  .variants {
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 2.2em;
    width: 95%;
  }
  .variants a {
    background-color: grey;
    border-radius: 10px;
    padding: 0px 20px;
    margin: 5px 10px;
    margin-bottom: 3vh;
  }
  .params {
    margin-top: 5vh;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .prodtitle {
    font-size: 1.5em;
    width: 100vw;
    margin: 0;
    margin-top: 3vh;
  }
}
.params {
  margin-top: 5vh;
  height: 100%;
  width: 100vw;
}/*# sourceMappingURL=styles.module.css.map */