.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5vh;
  align-self: center;
  justify-self: center;
  width: 100vw;
  position: fixed;
  top: 0.1vh;
  z-index: 5;
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20px;
  font-size: medium;
}
.nav .menu {
  color: rgb(255, 255, 255);
  background-color: transparent;
  height: 100%;
  width: 71%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  position: relative;
  transition: 0.2s ease-in-out;
}
.nav .menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 10px;
  padding: 15px;
}
.nav .menu a:hover {
  background-color: rgb(200, 206, 204);
  border-radius: 10px;
  -webkit-text-stroke: 2px white solid;
}
.nav .menu .left {
  text-align: left;
  width: 33%;
  position: absolute;
  left: 0px;
}
.nav .menu .logo {
  margin: auto 0;
  width: 7vh;
}
.nav .menu .right {
  position: absolute;
  right: 0px;
  width: 33%;
  text-align: right;
}

.exit {
  position: absolute;
  left: 2vw;
  color: antiquewhite;
  z-index: 300;
  top: 10vh;
}

.collections {
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: end;
  justify-content: center;
  position: relative;
  width: 100%;
  border-radius: 19px;
  background-position: center;
  background-size: 200%;
  transition: 1s ease-in-out;
}
.collections h1 {
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-content: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 16px 0;
  margin-bottom: 4%;
  font-size: x-large;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}
.collections h1 a {
  margin: 2% auto;
  background-color: rgba(255, 255, 255, 0.678);
  padding: 3%;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  font-size: small;
  color: rgb(0, 0, 0);
}
.collections .collections:hover {
  background-position: -50%;
}

.fallback {
  width: 100%;
  text-align: center;
  margin-top: 70%;
  color: white;
}

.exit {
  color: absolute;
  top: 0.5vh;
  right: 1vw;
  font-size: small;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.493);
  text-align: center;
  border-radius: 50%;
  width: 2vh;
  height: 2vh;
  padding: 0.5%;
  font-size: 2em;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.733);
  height: 100%;
  width: 100vw;
  z-index: 6;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.modal a {
  display: flex;
  flex-direction: column;
  font-size: 6em;
  letter-spacing: 2px;
  gap: 10px;
  align-self: center;
  text-transform: capitalize;
  color: azure;
  text-align: center;
  margin: 10px;
  transition: 0.5s ease-in-out;
}
.modal a:hover {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  scale: 1.2;
}

.checkout {
  display: flex;
  flex-direction: column;
  width: 20vw;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgb(44, 43, 42);
  padding: 2.5vw;
  border-radius: 0 0 0px 20PX;
  z-index: 50;
}
.checkout .subtotal {
  color: white;
  display: flex;
  flex-direction: row;
}
.checkout .name {
  margin-right: 32%;
}
.checkout .amount {
  margin-left: 32%;
}
.checkout a {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 5%;
  width: 90%;
  border-radius: 20px;
  font-size: large;
  margin: auto 0;
  color: black;
}
.checkout a :hover {
  background-color: aquamarine;
}

.cart {
  position: fixed;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(22, 16, 16, 0.308);
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
}
.cart .lineContainer {
  background-color: rgba(7, 5, 2, 0.425);
  width: 25VW;
  position: absolute;
  top: 0;
  right: 0;
  height: 79vh;
  border-radius: 20px 0PX 0 0;
}
.cart .lineContainer .lineitem {
  position: relative;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0));
  color: rgb(253, 253, 253);
  text-transform: capitalize;
  text-align: left;
  width: 25vw;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 0;
  margin-bottom: 5VH;
  border-radius: 20px;
  align-items: center;
}
.cart .lineContainer .lineitem p {
  margin-top: 0;
  line-height: 50%;
}
.cart .lineContainer .lineitem div {
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 0;
  line-height: 0;
}
.cart .lineContainer .lineitem button {
  background-color: transparent;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  padding: 0%;
  font-size: medium;
  margin-top: 30%;
}
.cart .lineContainer .lineitem .img {
  position: relative;
  height: 20vh;
  width: 8vw;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20px;
  margin: 2%;
}

@media only screen and (max-width: 600px) {
  .exit {
    color: white;
    position: fixed;
    top: 0.2vh;
    right: 3px;
    font-size: small;
    z-index: 1000;
    background-color: rgba(116, 114, 114, 0.308);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    text-align: right;
    border-radius: 100%;
    width: -moz-fit-content;
    width: fit-content;
    padding: 3%;
    font-size: larger;
  }
  .nav {
    margin-left: 0;
    width: 100vw;
  }
  .nav .menu {
    width: 100%;
  }
  .nav .menu .right {
    width: 35%;
  }
  .nav .menu .left {
    text-align: right;
  }
  .collections {
    width: 100%;
    height: 70vh;
  }
  .modal a {
    font-size: 2em;
  }
  .checkout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: fixed;
    bottom: 0vh;
    right: 0;
    background-color: rgba(250, 235, 215, 0.233);
    padding: 0;
  }
  .checkout .subtotal {
    color: white;
    display: flex;
    flex-direction: row;
  }
  .checkout .name {
    margin-right: 20%;
  }
  .checkout .amount {
    margin-left: 32%;
  }
  .checkout a {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 5%;
    width: 85%;
    border-radius: 20px;
    font-size: large;
    margin: 0 auto;
    margin-bottom: 1VH;
  }
  .checkout a :hover {
    background-color: aquamarine;
  }
  .cart {
    position: fixed;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 50;
    background-color: rgba(22, 16, 16, 0.308);
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
  }
  .cart .lineContainer {
    background-color: rgba(7, 5, 2, 0.425);
    width: 100vw;
    position: absolute;
    right: 0;
    height: 100vh;
    border-radius: 20px;
  }
  .cart .lineContainer .lineitem {
    position: relative;
    display: flex;
    flex-direction: row;
    letter-spacing: 1px;
    color: rgb(253, 253, 253);
    text-transform: capitalize;
    text-align: left;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    line-height: 0;
    border-radius: 20px;
    align-items: center;
    margin: 0;
    margin-right: 0;
    padding: 0;
    margin-top: 1vh;
  }
  .cart .lineContainer .lineitem p {
    margin-top: 0;
    line-height: 25%;
  }
  .cart .lineContainer .lineitem div {
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 0;
    line-height: 0;
  }
  .cart .lineContainer .lineitem button {
    background-color: transparent;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: -moz-fit-content;
    width: fit-content;
    text-align: left;
    padding: 0%;
    font-size: medium;
    margin-top: 0;
  }
  .cart .lineContainer .lineitem .img {
    position: relative;
    height: 20vh;
    width: 30vw;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: 2%;
  }
}/*# sourceMappingURL=styles.module.css.map */