@import url('https://fonts.googleapis.com/css?family=EBGaramond');



body {
  font-family: 'EB Garamond';
    background-color:  #1f2028;
    background-size: 400%;
    color: #1f1f1e;
    overflow-x: hidden;
<<<<<<< HEAD
=======
    animation: gradient 15s linear infinite;
>>>>>>> 4e15d29344ed1b3b45edb73481549dc785737a19
    margin: 0 auto;
    

}

body::-webkit-scrollbar {
  width: .5em;

}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(71, 69, 69);
  outline: 1px solid slategrey;
}

button{
  font-family: 'EB Garamond';
  transition: .5s ease-in-out;
}
button:active{
  background-color: rgb(157, 154, 154);
}


main {
  text-align: center;
  margin: auto 0;
  background-color: rgb(85, 72, 72);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  color: #000000;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
}

p {
  max-width: 14rem;
  margin: 2rem auto;
  line-height: 1.35;
}

@media (min-width: 480px) {
  html{
    width: 100vw;
  }
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}

